<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Web_project2</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletAutor</servlet-name>
        <servlet-class>app.web.ServletAutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAutor</servlet-name>
        <url-pattern>/ServletAutor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEditoriales</servlet-name>
        <servlet-class>app.web.ServletEditoriales</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditoriales</servlet-name>
        <url-pattern>/ServletEditoriales</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuscarAutor</servlet-name>
        <servlet-class>app.web.BuscarAutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarAutor</servlet-name>
        <url-pattern>/BuscarAutor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuscarEditorial</servlet-name>
        <servlet-class>app.web.BuscarEditorial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarEditorial</servlet-name>
        <url-pattern>/BuscarEditorial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
